
{% for film in films %}
        <div class="row" style="border-top: 1px solid rgba(255, 255, 255, 0.1);">
            <div class="col-lg-2 col-3 px-3 py-2"> 
                    <a href="/film/{{ film.id_film }}/" class="a">
                        <div class="shadow rounded w-100" style="margin: auto; padding-top: 147.06%;
                            background: url({{film.url_img}});
                            background-size: cover !important;
                            background-position: center !important;
                            flex-wrap: wrap;"></div>
                        <!-- <img style="width: 64px; height: 96px;" src="{{ film.url_img }}" alt="{{ film.name }}"> -->
                    </a>
            </div>
            <div class="col-lg-9 col-8">
                <a href="/film/{{ film.id_film }}/" class="a">
                    <p style="font-weight: 600; " >{{ film.name }}</p>
                    <p style="font-size: 10px;">{{ film.get_description_to_search }}</p>
                </a>
            </div>
        </div>
{% endfor %}