{% extends 'main/layout.html' %}
{% block content %}
<div class="container-xl">
    <div class="bgm-black rounded">
        <div class="mx-5 " style="margin-top: 60px;" tyle="min-height: 800px;">

            <p class="py-3" style="font-size: 40px; font-weight: 700; display: inline-block; ">Результаты поиска по запросу:</p>
            <p style="display: inline-block; font-size: 40px; font-weight: 600;" id="result"></p>
            

            <!-- <div style="max-width: 400px;">
                <input class="form-control my-5"
                        list="datalistOptions"
                        id="search"
                        placeholder="Введите для поиска..."
                        name="q"
                        hx-get="search_f/"
                        hx-trigger="keyup changed delay:150ms"
                        hx-target="#search-results"
                >

            
            </div> -->
            <div class="row">
                <div class="col-4">
                <form hx-get="search_f/" hx-target="#search-results">
                    <div style="max-width: 400px;">
                        <input class="form-control mb-5"
                                list="datalistOptions"
                                id="search"
                                placeholder="Введите для поиска..."
                                name="q"
                        >
                    </div>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg пример">
                        <option selected>Откройте это меню выбора</option>
                        <option value="1">Один</option>
                        <option value="2">Два</option>
                        <option value="3">Три</option>
                    </select>
                    <fieldset>
                    {% for ganer in ganers %}
                    <div class="form-check">
                    <input class="form-check-input"
                            type="checkbox"
                            value="{{ ganer.id }}"
                            name="param_{{ ganer.id }}"
                            id="flexCheckDefault"
                    >

                        <label class="form-check-label text-light" for="flexCheckDefault">
                            {{ ganer.name }}
                        </label>
                    </div>
                    {% endfor %}
                    </fieldset> 
                    <button type="submit" class="btn btn-primary mb-3">Подтвердить личность</button>
                </form>
                    
                </div>
                <div class="col-8">
                    <div class="row">
                        <div id="search-results">
                            {% include 'film/film_list.html' %}
                        </div>
                        
                    </div>
                </div>
            </div>
                        <script>
                function showCount() {
                    result.innerHTML = search.value;
                }

                search.onkeyup = search.oninput = showCount;
                search.onpropertychange = function() {
                    if (event.propertyName == "value") showCount();
                }
                search.oncut = function() {
                    setTimeout(showCount, 0); // на момент oncut значение ещё старое
                };
            </script>

        </div>
    </div>
</div>

{% endblock %}