/.vscode
/ex.json
/ex1.json
/t.py
venv
webapp/src/main/__pycache__
webapp/src/films/__pycache__
webapp/src/blog/__pycache__
webapp/src/user/__pycache__
webapp/src/user/migrations/__pycache__
webapp/src/main/migrations/__pycache__
webapp/src/films/migrations/__pycache__
webapp/src/blog/__pycache__
data