/.vscode
/ex.json
/ex1.json
/t.py
venv
src/main/__pycache__
src/films/__pycache__
src/blog/__pycache__
src/user/__pycache__
src/user/migrations/__pycache__
src/main/migrations/__pycache__
src/films/migrations/__pycache__