{% extends 'main/layout.html' %}
{% block content %}
    <div class="container-xl">
        <div class="row">
            <div class="col-12">
                <div style=" background-color: rgb(255, 255, 255); min-height: 800px;">
                    <button class="buttonBack my-4 mx-5" onclick="history.back();">
                        <span style="display: flex; padding-right: 2px;">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="15 18 9 12 15 6"></polyline>
                            </svg>
                        </span> Назад
                    </button>
                        <!-- <input type="button" onclick="history.back();" value="Назад" /> -->

                    <div class="row" >
                        <div class="col-4" >
                            <div class="cell" style="text-align: center;">
                                {% if film.rating != "none" %}
                                <div style="height: 40px; width: 50px; z-index: 100; margin-left: 48px; margin-top: 9px; border-radius: 5px; position:absolute; background: linear-gradient(to top right, rgb(242, 133, 0), rgb(243, 213, 18)); text-align: center;">
                                    <p style="padding-top: 5px; color: rgb(255, 255, 255); font-weight:800; font-size: 20px;">{{film.rating}}</p>
                                </div>
                                {% endif %}
                                <img src="{{film.url_img}}" style="height: 450px; width: 300px; z-index: 50; border-radius: 5px;" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <p style="display: inline-block; font-weight:900; font-size:35px;">{{film.name}}</p> <h4 style="display: inline-block"> ({{film.yearProd}})</h4>

                            {% if film.angl_name != "none" %}
                            <p style="font-size:20px; font-weight:300; color: rgba(0, 0, 0, 0.5);">{{film.angl_name}}</p>
                            {% else %}
                            <br>
                            {% endif %}
                            <button id="buttonWatch" class="buttonWatch my-2 mb-3" onclick="buttonClick()" data-click-kinoplayer="kinoplayertop-videocdn" >
                                <span style="display: flex; padding-right: 5px; padding-left: 11.5px;">
                                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <polygon points="5 3 19 12 5 21 5 3"></polygon>
                                    </svg>
                                </span> Смотреть
                            </button>


                            <p style="font-weight:750; font-size:25px;">О фильме</p>

                            {% if film.country != "none" %}
                            <div style="display: flex; align-items: baseline; padding-bottom: 15px;">
                                <div style="width: 160px;font-size:16px; color: rgba(0, 0, 0, 0.4);">Страны</div>
                                <div> {{film.country}}</div>
                            </div>
                            {% endif %}

                            {% if film.genre != "none" %}
                            <div style="display: flex; align-items: baseline; padding-bottom: 15px;">
                                <div style="width: 160px;font-size:16px; color: rgba(0, 0, 0, 0.4);">Жанр</div>
                                <div> {{film.genre}}</div>
                            </div>
                            {% endif %}

                            {% if film.Age != "none" %}
                            <div style="display: flex; align-items: baseline; padding-bottom: 15px;">
                                <div style="width: 160px;font-size:16px; color: rgba(0, 0, 0, 0.4);">Возраст</div>
                                <div> {{film.Age}}</div>
                            </div>
                            {% endif %}

                            {% if film.time != "none" %}
                            <div style="display: flex; align-items: baseline; padding-bottom: 15px;">
                                <div style="width: 160px;font-size:16px; color: rgba(0, 0, 0, 0.4);">Время</div>
                                <div> {{film.time}}</div>
                            </div>
                            {% endif %}

                            {% if film.Budget != "none" %}
                            <div style="display: flex; align-items: baseline; padding-bottom: 15px;">
                                <div style="width: 160px;font-size:16px; color: rgba(0, 0, 0, 0.4);">Бюджет</div>
                                <div> {{film.Budget}}</div>
                            </div>
                            {% endif %}

                            {% if film.Fees != "none"%}
                            <div style="display: flex; align-items: baseline; padding-bottom: 15px;">
                                <div style="width: 160px;font-size:16px; color: rgba(0, 0, 0, 0.4);">Сборы в мире</div>
                                <div> {{film.Fees}}</div>
                            </div>
                            {% endif %}

                            {% if film.Fees != "none" %}
                            <div style="display: flex; align-items: baseline; padding-bottom: 15px;">
                                <div style="width: 160px;font-size:16px; color: rgba(0, 0, 0, 0.4);">Премьера в мире</div>
                                <div> {{film.premiere}}</div>
                            </div>
                            {% endif %}


                        </div>

                    </div>
                    <div class="col-12 mt-5">
                        <div style="border-bottom: 1px solid rgba(0,0,0,0.1);margin-left: 15px; margin-right: 15px;">
                                <button id="buttonD1" class="buttonOn" onclick="buttonOnOff(1)">Описание</button>
                                <button id="buttonD2" class="buttonOff" style="margin-left: 15px;" onclick="buttonOnOff(2)">Актёры</button>
                                <button id="buttonD3" class="buttonOff" style="margin-left: 15px;" onclick="buttonOnOff(3)">Комментарии</button>
                        </div>
                        <div id="description" class="my-3 mx-5" style="">
                            <p style="font-size:17px; font-weight:400; color: rgba(0, 0, 0, 0.5);">{{film.description}}</p>
                        </div>
                        
                    </div>
                    
                    <div class="col-12 mx-4 my-4">
                        {% with comments.count as total_comments %}
                        <h2>
                            {{ total_comments }} comment{{ total_comments|pluralize }}
                        </h2>
                        {% endwith %}
                        
                        
                        <div hx-get="/comments/{{ film.id_film }}" hx-trigger="every 20s">
                            {% for comment in comments %}
                            <div class="comment">
                                <p class="info">
                                    Comment {{ forloop.counter }} by {{ comment.user.username }}
                                    {{ comment.created }}
                                </p>
                                {{ comment.body|linebreaks }}
                            </div>
                            {% empty %}
                            <p>There are no comments yet.</p>
                            {% endfor %}
                        </div>


                            
                            {% if new_comment %}
                            <h2>Your comment has been added.</h2>
                            {% else %}
                            <h2>Add a new comment</h2>
                            <form action="." method="post">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <p><input type="submit" value="Add comment"></p>
                            </form>
                            {% endif %}
                        
                    </div>
                    
                    <div id="persons" class="row mx-4 my-4" style="display: none; height: 0px;">
                        <p>Актёры</p>
                        {% for i in persons %}
                        {% if i.name != i.enName %}
                            <div id="{{i.id_persons}}" class="col-lg-2 col-sm-6 justify-content-center py-2 px-2">
                                <a href="{{i.id_persons}}/">
                                    <div style="text-align: center;">
                                        <img class="scale" src="{{i.photo}}"
                                            style="height: 240px; width: 160px; border-radius: 5px;box-shadow: 0 0 10px rgba(0,0,0,0.5);"
                                            alt="">
                                        <p class="my-2" style="font-size:16px; font-weight:500;">
                                            {% if i.name != "" %}
                                                {{i.name}}
                                            {% else %} 
                                                {{i.enName}}
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                        <!-- <script>
                            function buttonClick() {
                                document.getElementById("blockbut").setAttribute("style", "");
                                document.getElementById('film').scrollIntoView(false);
                            }
                        </script> -->
                    <script src="//kinoplayer.top/top.js"></script>
                    <div class="row">
                        <div class="col-1"></div>
                        <div id="film" class="col-10 mb-5">
                            <div id="blockbut" class="btn-group" style="display: none;">
                                <button type="button" class="buttonPlayer" data-click-kinoplayer="kinoplayertop-videocdn">Смотреть</button>
                                <button type="button" class="buttonPlayer " data-click-kinoplayer="kinoplayertop-ustore">Плеер 2</button>
                                <button type="button" class="buttonPlayer " data-click-kinoplayer="kinoplayertop-tabus">Плеер 3</button>
                                <button type="button" class="buttonPlayer " data-click-kinoplayer="kinoplayertop-bazon">Плеер 4</button>
                                <button type="button" class="buttonPlayer" data-click-kinoplayer="kinoplayertop-trailer">Трейлер</button>
                            </div>
                            
                            <div id="kinoplayertop-videocdn" data-kinopoisk="{{film.id_film}}" data-player="videocdn"></div>
                            <div id="kinoplayertop-ustore" data-kinopoisk="{{film.id_film}}" data-player="ustore"></div>
                            <div id="kinoplayertop-tabus" data-kinopoisk="{{film.id_film}}" data-player="tabus"></div>
                            <div id="kinoplayertop-bazon" data-kinopoisk="{{film.id_film}}" data-player="bazon"></div>
                            <div id="kinoplayertop-trailer" data-kinopoisk="{{film.id_film}}" data-player="trailer"></div>

                            
                        </div>
                        <div class="col-1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

