
{% extends 'main/layout.html' %}
{% block content %}

<div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor"
            d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
        </path>
    </svg>
</div>

<div class="col-12 mb-4" style="
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 100%;">


    <div id="carouselExampleInterval" class="carousel slide overflow-hidden position-relative w-100 w-100" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="7000">
                <div class="w-100 position-absolute h-100" style="
                background: url({{first.0.img.url}});
                background-size: cover !important;
                background-position: center !important;
                z-index: 99;"></div>
                <div class="w-100 position-absolute bg-dark bg-opacity-50 h-100" style="z-index: 100; ">
                    <div class="container-xl">
                        <div class="row">
                            <div class="col-6">
                                <h1>{{first.1.name}}</h1>
                                <p class="mt-4 fs-1 text-light fw-bold">{{first.1.name}}</p>
                                <svg class="circle-chart" viewBox="0 0 30 30" width="40" height="40" fill="transparent"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="width: 40px;
                                            height: 40px;
                                            line-height: 40px;
                                            text-align: center;
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            font-size: 13px;">
                                    <circle class="circle-chart__background" stroke="#eee" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="63,100" cx="15" cy="15"
                                        r="14"></circle>
                                </svg>
                                <b class="text-light" style="width: 40px;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    font-size: 13px;">7,9</b>
                                <p class="mt-4 fs-4 text-light text-opacity-75">
                                    {{first.1.get_description_to_main}}</p>
            
                                <button id="buttonWatch" class="buttonWatch my-2 mb-3" onclick="linkFilm('{{first.1.id_film}}')"
                                    style="background-color: rgb(63, 37, 155);">
                                    <span style="display: flex; padding-right: 5px; padding-left: 11px;">
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                            stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <polygon points="5 3 19 12 5 21 5 3"></polygon>
                                        </svg>
                                    </span> Смотреть
                                </button>
            
                            </div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                </div>
            
                <img src="" class="w-100 min-vh-100" style=" width: -webkit-fill-available; z-index: 10;"
                    class="d-block w-100" alt="">
            
            </div>
            {%for film in postrs %}
            {% if film.0.name != "none" %}
            <div class="carousel-item" data-bs-interval="8000">
                <div class="w-100 position-absolute h-100" style="
                    background: url({{film.0.img.url}});
                    background-size: cover !important;
                    background-position: center !important;
                    z-index: 99;"></div>
                <div class="w-100 position-absolute bg-dark bg-opacity-50 h-100" style="height: 500px; z-index: 100;">
                    <div class="container-xl">
                        <div class="row">
                            <div class="col-6" style="color: rgb(255, 255, 255);">
                                <p class="mt-4 fs-1 text-light fw-bold">{{film.1.name}}</p>
                                <p class="mt-4 fs-4 text-light text-opacity-75">
                                    {{film.1.get_description_to_main}}</p>
                
                                <button id="buttonWatch" class="buttonWatch my-2 mb-3" onclick="linkFilm('{{film.1.id_film}}')"
                                    style="background-color: rgb(63, 37, 155);">
                                    <span style="display: flex; padding-right: 5px; padding-left: 11px;">
                                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                            stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <polygon points="5 3 19 12 5 21 5 3"></polygon>
                                        </svg>
                                    </span> Смотреть
                                </button>
                
                            </div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                </div>

                <img src="" style=" width: -webkit-fill-available; z-index: 10;" class="d-block w-100 vh-100" alt="{{backImg.img.url}}">
            
            </div>
            {% endif %}
            {% endfor %}

        </div>
        <button id="nextbutton" class="carousel-control-prev" style="z-index: 110; width: 100px;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next px-0" style="z-index: 110; width: 100px;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
    <!-- <div style="overflow: hidden; position: relative; width: 100%; height: 500px;">
        <img src="{{backImg.img.url}}" style="position: absolute; transform: translate(0,-10%); width: -webkit-fill-available;  " alt="">
    </div> -->

</div>

<div class="w-100" style="
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    position: relative;
    margin-top: 80vh;
    z-index: 1010;">
    <div class="container-xl">
        <p style="font-weight:700; font-size: 30px;">Новые фильмы</p>
        <div class="row">
            {% for i in films %}
            <div id="{{i.id_film}}" class="col-xxl-2 col-md-3 col-sm-6 justify-content-center p-2">
                <a href="film/{{i.id_film}}/" class="a">
                    <div class="justify-content-center">
                        <img class="scale shadow rounded" style="height: 300px; width: 200px" src="{{i.url_img}}"  alt="">
                        <p class="my-2 fw-semibold fs-5" >{{i.name}}</p>
                        <p class="my-2 fs-6 text-opacity-50" >{{i.yearProd}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <p style="font-weight:700; font-size: 30px;">Новые сериалы</p>
        <div class="row">
            {% for i in series %}
            <div id="{{i.id_film}}" class="col-xxl-2 col-md-3 col-sm-6 justify-content-center p-2">
                <a href="film/{{i.id_film}}/" class="a">
                    <div class="cell align-middle" style="text-align: center;">
                        <img class="scale shadow rounded" src="{{i.url_img}}" style="height: 300px; width: 200px" alt="">
                        <p class="my-2 fw-semibold fs-5">{{i.name}}</p>
                        <p class="my-2 fs-6 text-opacity-50">{{i.yearProd}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>
    
{% endblock %}