
{% extends 'main/layout.html' %}
{% block content %}
{% load i18n %}

<div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor"
            d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
        </path>
    </svg>
</div>

<div class="col-12 mb-4" style="
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 100%;">


    <div id="carouselExampleInterval" class="carousel slide overflow-hidden position-relative w-100 w-100" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="7000">
                <div class="w-100 position-absolute h-100" style="
                background: url({{first.0.img.url}});
                background-size: cover !important;
                background-position: center !important;
                z-index: 2;"></div>
                <div class="w-100 position-absolute bg-dark bg-opacity-50 h-100" style="z-index: 3; ">
                    <div class="container-xl" style="margin-top: 10vh">
                        
                            <p class="mt-4 text-light lh-sm fw-bold name-carouse">{{first.1.name}}</p>                                
                            
                            <p class="mt-3 w-50  fs-4 text-light text-opacity-75 lh-sm descript-carouse">
                                {{first.1.get_description_to_main}}</p>
            
                            <button id="buttonWatch" class="buttonWatch my-2 mb-3" onclick="linkFilm('{{first.1.id_film}}')"
                                style="background-color: rgb(63, 37, 155);">
                                <span style="display: flex; padding-right: 5px; padding-left: 11px;">
                                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                        stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <polygon points="5 3 19 12 5 21 5 3"></polygon>
                                    </svg>
                                </span> Смотреть
                            </button>                                                                         
                                                 
                    </div>
                </div>
            
                <img src="" class="w-100 min-vh-100" style=" width: -webkit-fill-available; z-index: 0;"
                    class="d-block w-100" alt="">
            
            </div>
            {%for film in postrs %}
            {% if film.0.name != "none" %}
            <div class="carousel-item" data-bs-interval="8000">
                <div class="w-100 position-absolute h-100" style="
                    background: url({{film.0.img.url}});
                    background-size: cover !important;
                    background-position: center !important;
                    z-index: 1;"></div>
                <div class="w-100 position-absolute bg-dark bg-opacity-50 h-100" style="height: 500px; z-index: 2;">
                    <div class="container-xl" style="margin-top: 10vh">
                            <p class="mt-4 text-light fw-bold lh-sm name-carouse">{{film.1.name}}</p>                            
                            <p class="mt-3 w-50 fs-4 text-light text-opacity-75 lh-sm descript-carouse">
                                {{film.1.get_description_to_main}}</p>
            
                            <button id="buttonWatch" class="buttonWatch my-2 mb-3" onclick="linkFilm('{{film.1.id_film}}')"
                                style="background-color: rgb(63, 37, 155);">
                                <span style="display: flex; padding-right: 5px; padding-left: 11px;">
                                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                        stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <polygon points="5 3 19 12 5 21 5 3"></polygon>
                                    </svg>
                                </span> Смотреть
                            </button>                                
                    </div>
                </div>

                <img src="" style=" width: -webkit-fill-available; z-index: 0;" class="d-block w-100 vh-100" alt="{{backImg.img.url}}">
            
            </div>
            {% endif %}
            {% endfor %}

        </div>
        <button id="nextbutton" class="carousel-control-prev btn-carousel" style="z-index: 4; width: 100px;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next px-0 btn-carousel" style="z-index: 4; width: 100px;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
    <!-- <div style="overflow: hidden; position: relative; width: 100%; height: 500px;">
        <img src="{{backImg.img.url}}" style="position: absolute; transform: translate(0,-10%); width: -webkit-fill-available;  " alt="">
    </div> -->

</div>

<div class="pr-main-page w-100">
    <div class="container-xl mt-5">
        <p style="font-weight:700; font-size: 30px;">{% trans 'WelcomeHeading' %}</p>
        <div class="row">
            {% for i in films %}
            <div id="{{i.id_film}}" class="col-xxl-2 col-md-3 col-6 justify-content-center p-2">
                <a href="film/{{i.id_film}}/" class="a">
                    <div style="width: 100%; margin: auto;">
                        <div class="scale shadow rounded" style="margin: auto; padding-top: 147.06%; width: 100%;
                            background: url({{i.url_img}});
                            background-size: cover !important;
                            background-position: center !important;
                            flex-wrap: wrap;"></div>
                        <p class="my-2 fw-semibold fs-5 lh-1 cell_name" >{{i.name}}</p>
                        <p class="my-2 fs-6 text-opacity-50" >{{i.yearProd}}</p>
                    </div>
                    <!-- <div class="justify-content-center">
                        <img class="scale shadow rounded" style="height: 300px; width: 200px" src="{{i.url_img}}"  alt="">
                    </div> -->
                </a>
            </div>
            {% endfor %}
        </div>
        <p style="font-weight:700; font-size: 30px;">Новые сериалы</p>
        <div class="row">
            {% for i in series %}
            <div id="{{i.id_film}}" class="col-xxl-2 col-md-3 col-sm-6 justify-content-center p-2">
                <a href="film/{{i.id_film}}/" class="a">
                    <div class="cell align-middle" style="text-align: center;">
                        <img class="scale shadow rounded" src="{{i.url_img}}" style="height: 300px; width: 200px" alt="">
                        <p class="my-2 fw-semibold fs-5">{{i.name}}</p>
                        <p class="my-2 fs-6 text-opacity-50">{{i.yearProd}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>
    
{% endblock %}