{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Noto+Sans:wght@500&family=Plus+Jakarta+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src={% static "main/js/script.js" %}></script>
    <script src="https://unpkg.com/htmx.org@1.8.0"
        integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
        crossorigin="anonymous"></script>
</head>

<body style="background-color: rgb(245, 245, 245);min-height: 100%;">
    <nav class="pc-navbar py-2 text-light fixed-top d-flex justify-content-center" style="z-index: 3; background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(153, 153, 153, 0)); height: 55px;">
        <div class="container-xl">
            <div class="row">
                <div class="col d-flex align-items-baseline">
                    <div  style="width: 40px; height: 40px;" type="button" onclick="document.getElementById('SearchOpen').click()"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </div>
                        <h1 style="padding-top: -1px;">LOGO</h1>

                </div>
                <div class="col justify-content-center d-flex" style="width: 33% !important;">
                    <div class="w-100" style="width: fit-content; background-color: rgba(127, 255, 212, 0);">
                        <form>
                        <input class="rounded search-input w-100 bgm-gray"
                            name="q"
                            hx-get="/film/search_popup/"
                            hx-trigger="keyup changed delay:150ms"
                            hx-target="#m-search-popup" 
                            style=" border-color: rgba(255, 255, 255, 0); color: rgb(255, 255, 255); height: 40px; padding: 0.375rem 0.75rem;" 
                            placeholder="Search..." 
                            type="search">
                        </form>
                        <div class="mt-2 rounded bgm-gray position-relative" style="z-index: 8;    display: flex;
    flex-wrap: wrap;">
                            <div id="m-search-popup"></div>
                        </div>
                    </div>
    
                </div>
    
                <div class="col">
                </div>
            </div>
            <!-- <div class="logo">
                <div style="width: 30px; height: 30px;"  type="button" onclick="document.getElementById('SearchOpen').click()" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>

                <div class="h-100" style="width: 60px; background-color: aquamarine;">
                <div>LOL</div>
                <div style="position: absolute; height: 300px; background-color: blue; width: 60px;"></div>

                </div>

            </div>
            <div class="menu-main-menu-container"> 
                <ul class="nav">
                    <input  class="me-3" style="background-color: rgba(128, 128, 128, 0.459) !important; border-color: rgba(0, 0, 0, 0.048); color: aliceblue;"
                        placeholder="Search..." type="search">
                    <li class="nav-link px-3 text-white fw-bold nav-item" style="font-family: 'Poppins', sans-serif;">
                    <a class="a-red" href="/">HOME</a>
                    </li>
                    <li class="nav-link px-3 text-white fw-bold nav-item" style="font-family: 'Poppins', sans-serif;">MOVIES</li>
                    <li class="nav-link px-3 text-white fw-bold nav-item"  style="font-family: 'Poppins', sans-serif;">TV-SHOWS</li>
                </ul>
            </div>
            <div class="user-menu">

            </div> -->
            

        </div>
    </nav>
    <nav class="mobile-navbar navbar px-5 py-2 text-light fixed-top" style="z-index: 3; background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(153, 153, 153, 0));">
        <div class="logo"></div>
        <div class="menu-main-menu-container"> 
            <ul class="nav">
                <li class="nav-link px-3 mx-3 text-white fw-bold nav-item" style="font-family: 'Poppins', sans-serif;">
                    <a class="a-red" href="/account/login/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>                               
                    </a>
                    
                </li>
                <li class="nav-link px-3 mx-3 text-white fw-bold nav-item" style="font-family: 'Poppins', sans-serif;">
                <a class="a-red" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>    
                    </svg>
                </a>
                </li>
                <li class="nav-link px-3 mx-3 text-white fw-bold nav-item"  style="font-family: 'Poppins', sans-serif;padding-top: 7px;">
                    <div  type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions"
                        aria-controls="offcanvasWithBothOptions"
                        onclick="document.getElementById('SearchOpen').click()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg> -->
                    </div>
                </li>
            </ul>
        </div>
        <div class="user-menu"></div>
                
    </nav>
        <div class="offcanvas offcanvas-start bgm-gray" data-bs-scroll="false" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header bgm-black p-0">
                <button class="tablink" onclick="openPageMenu('Search', this, '#2D3949')" id="SearchOpen">Поиск</button>
                <button class="tablink" onclick="openPageMenu('News', this, 'green')" id="NewsOpen">Акаунт</button>
                <button class="tablink" onclick="openPageMenu('Contact', this, 'blue')" id="ContactOpen">Contact</button>
                <!-- <button class="tablink" onclick="openPage('About', this, 'orange')">About</button> -->
                <!-- <h5 class="offcanvas-title text-light" id="offcanvasWithBothOptionsLabel">Поиск</h5> -->
                <button style="color: white; background-color: rgba(0, 0, 0, 0); border: 0px;" data-bs-dismiss="offcanvas" aria-label="Закрыть">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </button>
            </div>
            <div class="offcanvas-body">
                <div id="Search" class="tabcontent">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" style="min-width: 43%;">
                        <input type="search" 
                        class="form-control me-2"
                        placeholder="Search..."
                            name="q"
                            hx-get="/film/search_popup/"
                            hx-trigger="keyup changed delay:150ms"
                            hx-target="#search-popup">
                    </form>
                    <div style="min-width: 100%">
                        <div class="container">
                            <div id="search-popup"></div>
                        </div>
                    </div>
                </div>
                <div id="News" class="tabcontent"></div>
            </div>
        </div>
    <!-- <header class="bg-dark sticky-lg-top p-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="nav-btn1" href="/" class="nav-link px-2 text-white fs-5" onclick="navbar_btn(1)">Home</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" style="min-width: 43%;">
                    <input type="search" 
                      class="form-control me-2"
                       placeholder="Search..."
                        name="q"
                        hx-get="/film/search_popup/"
                        hx-trigger="keyup changed delay:150ms"
                        hx-target="#search-popup">
                </form>
                <div style="min-width: 100%;
                        position: fixed;
                        /* bottom: 0; */
                        top: 60px;
                        right: 9px;">
                
                    <div class="container">
                        <div class="row">
                            <div class="col-6"></div>
                            <div id="search-popup" class="col-5" style="background-color: rgb(45, 45, 45);"></div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    {% if user.is_authenticated %}
                        <li style="color: rgb(255, 255, 255)"><a style="color:rgb(255, 255, 255)" href="">hi,&#160;{{ user.username }}</a></li>
                        <li><a style="color: rgb(255, 255, 255)" href="/account/logout/">Log out</a></li>
                    {% else %}   
                        <button type="button" href="/account/login/" onclick="location.href='/account/login/'" class="btn btn-outline-light me-2">Login</button>
                        
                        <button type="button" href="/account/register/" onclick="location.href='/account/register/'" class="btn btn-info">Sign-up</button>

                    {% endif %}
                </div>
            </div>
        </div>
    </header> -->


    
    <!-- <header style="
        background-color: rgb(32, 25, 48);
        height: 75px;">
        <div class="container">
            <div class="col-3">
		    {% if user.is_authenticated %}
            <li style="color: rgb(255, 255, 255)"><a style="color:rgb(255, 255, 255)" href="">hi,&#160;{{ user.username }}</a></li>
            <li><a style="color: rgb(255, 255, 255)" href="/account/logout/">Log out</a></li>
            {% else %}
            <li><a style="color: rgb(255, 255, 255)" href="/account/register/">sign up</a></li>
            <li><a style="color: rgb(255, 255, 255)" href="/account/login/">log in</a></li>
            {% endif %}
            </div>
        </div>
    </header> -->
    <div style="min-height: 100vh">
        {% block content %}
        {% endblock %}
    </div>
<footer id="footer" class="mb-0" style="
        left: 0;
        bottom: 0;
        width: 100%;
        height: 78px;
        z-index: 100;
        position: relative;
        background-color: rgb(32, 25, 48);  "></footer>
</body>
</html>