
{% extends 'main/layout.html' %}
{% block content %}

    <div class="container-xl">
        <div class="col-12 my-4">
            <div class="p-5" style="height: 90px; background-color: rgb(255, 255, 255);"></div>
        </div>

        <div class="col-12">
            <div class="row">
                {% for i in game %}
                <div class="col-lg-2 col-sm-6 justify-content-center py-2 px-2">
                    <a href="{{i.id_film}}/">
                        <div class="cell" style="text-align: center;">
                            <img class="scale" src="{{i.url_img}}" style="height: 300px; width: 200px; border-radius: 5px;box-shadow: 0 0 10px rgba(0,0,0,0.5);" alt="">
                            <p class="my-2" style="font-size:16px; font-weight:500; text-align: left;">{{i.name}}</p>
                            <p class="my-2" style="font-size:16px; font-weight:400; text-align: left;color: rgba(0, 0, 0, 0.5);">{{i.yearProd}}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}